#content
{
    min-height:650px;
    height:auto;
    background-color: aquamarine;
    margin-top: -20px;
}
#footer
{
    background-color: black;
}
#panel-setting
{
    background-color: aliceblue;
    margin-top : 100px;
}