<div class="row">
    <div class="col-md-offset-4 col-md-4 col-lg-4 col-sm-4 col-xs-4" >
        <div class="panel panel-deafult" >
            <div class="panel-heading">
                <h3>Register</h3>
            </div>
            <div class="panel-body">
                <form action="/signup" method="post">
                    <div class="form-group">
                        <label>Full Name</label>
                        <input type="text" placeholder="Fullname" class="form-control" name="full_name"/>
                    </div>
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" placeholder="Username" class="form-control" name="username"/>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" placeholder="Password" class="form-control" name="password"/>
                    </div>
                    <div class="form-group">
                        <label>Re-Password</label>
                        <input type="password" placeholder="Re-Password" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <textarea class="form-control" name="address"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Contact no.</label>
                        <input type="text" placeholder="Contact-no" class="form-control" name="contact"/>
                    </div>
                    <div class="form-group">
                        <label>Gender</label>
                            Male<input type="radio" name="gender" value="male"/>
                            Female<input type="radio" name="gender" value="female"/>
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <select class="form-control" name="city">
                            <option>Select</option>
                            <option>Indore</option>
                            <option>Bhopal</option>
                            <option>Mumbai</option>
                            <option>Pune</option>
                        </select>
                    </div>        
            </div>
               <div class="panel-footer">
                   <button class="btn btn-primary">Signup</button>
                </div>
                </form>
        </div>
    </div>
</div>               
                
    
    
    
    
    
     