body
{
    background-color: darkseagreen;
}
#latest
{
    background-color: aquamarine;
}
#latest .well
{
    background-color: cornsilk;
    margin-top:10px;
}

#panel_setting
{
    margin-top:20px;
}

#footer
{
    background-color: black;
    height: 100px; 
}