<div class="container">
    <h2> Change Password </h2>
    <form action="/user/changepass" method="post">
    <div class="form-group">
        <label>Current Password </label>
        <input type="password" name="c_pass" class="form-control"/>
    </div>
    <div class="form-group">
        <label>New Password </label>
        <input type="password" name="n_pass" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Confirm New Password </label>
        <input type="password" name="cn_pass" class="form-control"/>
    </div>
    <input type="submit" class="btn btn-success" value="Change"/>
    </form>
    <p class="text-danger">
        <%= message %>
    </p>
</div>