<div class="row">
    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
        <h3><span class="label label-info">Category</span></h3>
        <ul class="list-group">
            <li class="list-group-item"><a href="#">Electronics</a></li>
            <li class="list-group-item"><a href="#">TVs & Appliances</a></li>
            <li class="list-group-item"><a href="#"></a>Men</li>
            <li class="list-group-item"><a href="#">Women</a></li>
            <li class="list-group-item"><a href="#">Home & Furniture</a></li>
            <li class="list-group-item"><a href="#">Sports</a></li>
        </ul>
    </div>
    <div id="panel-setting" class="col-md-4 col-lg-4 col-sm-4 col-xs-4 col-md-offset-5 col-lg-offset-5 col-sm-offset-5 col-xs-offset-5" >
        <div class="panel panel-deafult" >
            <div class="panel-heading">
                <h3>Login</h3>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" placeholder="Username" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input tupe="password" placeholder="Password" class="form-control"/>
                    </div>
                </form>        
           </div>
           <div class="panel-footer">
               <button class="btn btn-primary">login</button>
               <button class="btn btn-default">Forgot Password</button>
           </div>
        </div>
    </div>    
    
</div>             
            





 