<h1> View All Category </h1>
<table class="table table-hover table-stripped">
    <tr>
        <th>S.No.</th>
        <th>Category Name</th>
    </tr>
    <% result.forEach(function(item,index)
    { %>
        <tr>
            <td><%= index+1 %></td>
            <td><%= item.name %></td>
            <td><a href="#" class="btn btn-sm btn-info">Edit</a></td>
            <td><a href="/admin/category/delete/<%= item._id%>"  class="btn btn-sm btn-danger">Delete</a></td>
        </tr>
    <% }) %>
    
</table>