<div class="container">
	<Br />
	<Br />
	<div class="offset-md-4 col-md-4">
		<form action="/admin/product/add" method="post" enctype="multipart/form-data">
		  <div class="form-group">
		    <label for="email">Product Name</label>
		    <input type="text" name="name" class="form-control">
		  </div>
		  <div class="form-group">
		    <label for="email">Product Image</label>
		    <input type="file" name="image" class="form-control">
		  </div>
		  <div class="form-group">
		    <label for="email">Product Price</label>
		    <input type="text" name="price" class="form-control">
		  </div>
		  <div class="form-group">
		    <label for="email">Detail</label>
		    <textarea name="detail" class="form-control"></textarea>
		  </div>
		  <div class="form-group">
		    <label for="email">Product Category</label>
		    	<select name="category" class="form-control">
		    		<option>Select</option>
		    		<% result.forEach(function(item){ %>
		    			<option value="<%= item._id %>"><%= item.name %></option>

		    		<% }) %>
		    	</select>
		  </div>
		  <div class="form-group">
		    <label for="email">Discount</label>
		    <input type="text" name="discount" class="form-control">
		  </div>
		  
		  <button type="submit" class="btn btn-primary">Add Product</button>
		</form>
		
	</div>
</div>