<div class="container">
	<Br />
	<Br />
	<div class="offset-md-4 col-md-4">
		<form action="/admin/category/add" method="post">
		  <div class="form-group">
		    <label for="email">Category Name</label>
		    <input type="text" name="name" class="form-control">
		  </div>
		  
		  <button type="submit" class="btn btn-primary">Add Category</button>
		</form>
		
	</div>
</div>