<!Doctype html>
<html>
    <head>
        <title> My Page</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <link rel="stylesheet" type="text/css" href="/style.css"/>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand"> The Stepping Stone </a>
                    <button class="navbar-toggle" data-toggle="collapse" data-target="#mymenu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="mymenu" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">About</a></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Setting
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Reset Password </a></li>
                                <li><a href="#">Help </a></li>
                                <li><a href="#">Change Theme</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" placeholder="Search" class="form-control"/>
                        </div>
                        <button class="btn btn-default">Search</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" data-toggle="modal" data-target="#popup">Login</a></li>
                        <li><a href="#">Signup</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id=latest class="container">
            <div class="well">
                <h3>Welcome</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga velit, error beatae</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3" "col-lg-3" "col-xs-3" "col-sm-3">
                    <h2><span class="label label-success"> Category </span></h2>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#">Sony</a><span class="badge">21</span></li>
                        <li class="list-group-item"><a href="#">Samsung</a><span class="badge">10</span></li>
                        <li class="list-group-item"><a herf="#">Apple</a><span class="badge">6</span></li>
                        <li class="list-group-item"><a href="#">htc</a><span class="badge">8</span></li>
                        <li class="list-group-item"><a href="#">MI</a><span class="badge">8</span></li>
                        <li class="list-group-item"><a href="#">Intex</a><span class="badge">8</span></li>
                    </ul>
                </div>         
                <div id="panel_setting" class="col-md-9" "col-lg-9" "col-xs-9" "col-sm-9">
                    <div class="row">
                        <div class="col-md-4" "col-lg-4" "col-xs-4" "col-sm-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4>Sony</h4>
                                </div>
                                <div class="panel-body">
                                    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                                </div>
                                <div class="panel-footer">
                                    <button class="btn btn-success btn-xs">  Buy </button>
                                    <button class="btn btn-warning btn-xs"> Ad to cart </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" "col-lg-4" "col-xs-4" "col-sm-4">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4>htc</h4>
                                    </div>
                                    <div class="panel-body">
                                        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                                    </div>
                                    <div class="panel-footer">
                                        <button class="btn btn-success btn-xs">  Buy </button>
                                        <button class="btn btn-warning btn-xs"> Ad to cart </button>
                                    </div>
                                </div>
                            </div>
                            
                        <div class="col-md-4" "col-lg-4" "col-xs-4" "col-sm-4">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4>Samsung</h4>
                                    </div>
                                    <div class="panel-body">
                                        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                                    </div>
                                    <div class="panel-footer">
                                        <button class="btn btn-success btn-xs">  Buy </button>
                                        <button class="btn btn-warning btn-xs"> Ad to cart </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" "col-lg-4" "col-xs-4" "col-sm-4">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h4>MI</h4>
                                        </div>
                                        <div class="panel-body">
                                            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                                        </div>
                                        <div class="panel-footer">
                                            <button class="btn btn-success btn-xs">  Buy </button>
                                            <button class="btn btn-warning btn-xs"> Ad to cart </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" "col-lg-4" "col-xs-4" "col-sm-4">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h4>Intex</h4>
                                            </div>
                                            <div class="panel-body">
                                                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                                            </div>
                                            <div class="panel-footer">
                                                <button class="btn btn-success btn-xs">  Buy </button>
                                                <button class="btn btn-warning btn-xs"> Ad to cart </button>
                                            </div>
                                        </div>
                                    </div>
                            <div class="col-md-4" "col-lg-4" "col-xs-4" "col-sm-4">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h4>Apple</h4>
                                        </div>
                                        <div class="panel-body">
                                            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                                        </div>
                                        <div class="panel-footer">
                                            <button class="btn btn-success btn-xs">  Buy </button>
                                            <button class="btn btn-warning btn-xs"> Ad to cart </button>
                                        </div>
                                    </div>
                            </div>         
                   </div>  
                </div>
            </div>    
        </div>        
        <div class="modal fade" id="popup">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">Welcome User
                        <a class="close" data-dismiss="modal"> X </a>
                    </div>
                    <div class="modal-body"> 
                        <form>
                            <div class="form-group">
                                <label> Username</label>
                                <input type="text" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="text" class="form-control"/>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button class="btn btn-success">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>