<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="conatiner">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mymenu">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand"> The Stepping Stone</a>
				<div id="mymenu" class="collapse navbar-collapse">
					<%if(session.is_user_logged_in){%>
					<ul class="nav navbar-nav">
						<li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
					</ul>
					<% } %>
				</div>
			</div>
		</div>
	</nav>
	<div class="container" id="content">
		<%- include(pagename); %>
	</div>
</body>
</html>