<section style="margin-top: 150px;" class="feature_product_area section_gap">
		<div class="main_box">
			<div class="container-fluid">
				<div class="row">
					<div class="main_title">
						<h2>Chnage Your Profile Pic</h2>
						<form action="/user/changeimg" method="post" enctype="multipart/form-data">
							Select Image <input type="file" name="image" />
							<Br />
							<Br />
							<input type="submit" value="Upload">
						</form>
					</div>
				</div>
				

				
			</div>
		</div>
	</section>