<div clas="container">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h2>Sony</h2>
		</div>
		<div class="panel-body">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit
		</div>	
		<div class="panel-footer">
			<button class="btn btn-sm btn-success"> Buy </button>
			<button class="btn btn-sm btn-warning"> Add to Cart </button>
		</div>	
	</div>	
</div>