<style>
#pro-box .panel-heading h4{
    margin: 0;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
            <h3><span class="label label-info">Category</span></h3>
            <ul class="list-group">
                    <% category.forEach(function(item){ %>
                        <li class="list-group-item"><a href="#"><%= item.name %></a></li>
                    <%})%>
            </ul>
        </div>
        <!-- <div class="container-fluid">
        <div class="col-offset-md-4 col-offset-lg-4 col-offset-sm-4 col-offset-xs-4">
                <div id="panel-setting" class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                        
                </div>
                                                                                                                                        
            </div>
        </div> -->
        <div id="pro-box" class = "row" style="margin-top:50px">


            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Sony</h4>
                    </div>
                    <div class="panel-body" style="text-align:center">
                        <img src="/images_products/sofa.jpg" height="80" width="80" />
                        <p>4500.00</p>
                        <p>4250.00</p>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-sm btn-warning">Buy</button>
                    </div>
                </div>
            </div>



            


            




        </div>
    </div>
</div>