<div class="container">
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
            <h3><span class="label label-info">Category</span></h3>
            <ul class="list-group">
                    <% category.forEach(function(item){ %>
                        <li class="list-group-item"><a href="#"><%= item.name %></a></li>
                    <%})%>
            </ul>
        </div>
        <div id="panel-setting" class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3>Electronics</h3>
                        </div>
                        <div class="panel-body">
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex dolores fuga, ut b
                            </p>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-info btn-xs">Buy</button>
                            <button class="btn btn-success btn-xs">Add to cart</button>
                        </div>
                    </div>        
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3>TVs & Appliances</h3>
                        </div>
                        <div class="panel-body">
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex dolores fuga, ut b
                            </p>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-info btn-xs">Buy</button>
                            <button class="btn btn-success btn-xs">Add to cart</button>
                        </div>
                    </div>        
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3>Men</h3>
                        </div>
                        <div class="panel-body">
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex dolores fuga, ut b
                            </p>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-info btn-xs">Buy</button>
                            <button class="btn btn-success btn-xs">Add to cart</button>
                        </div>
                    </div>        
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3>Women</h3>
                        </div>
                        <div class="panel-body">
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex dolores fuga, ut b
                            </p>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-info btn-xs">Buy</button>
                            <button class="btn btn-success btn-xs">Add to cart</button>
                        </div>
                    </div>        
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3>Home & Furniture</h3>
                        </div>
                        <div class="panel-body">
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex dolores fuga, ut b
                            </p>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-info btn-xs">Buy</button>
                            <button class="btn btn-success btn-xs">Add to cart</button>
                        </div>
                    </div>        
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3>Sports</h3>
                        </div>
                        <div class="panel-body">
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex dolores fuga, ut b
                            </p>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-info btn-xs">Buy</button>
                            <button class="btn btn-success btn-xs">Add to cart</button>
                        </div>
                    </div>        
                </div>                                                                                                                        
            </div>
        </div>
    </div>
</div>