<section style="margin-top: 150px;" class="feature_product_area section_gap">
		<div class="main_box">
			<div class="container-fluid">
				<div class="row">
					<div class="container">
						<h2>Your Cart</h2>
						<table class="table table-hover table-bordered table-striped">
							<tr>
								<td>S.No.</td>
								<td>Product Name</td>
								<td>Price</td>
								<td>Image</td>
							</tr>
						</table>
					</div>
				</div>
				

				
			</div>
		</div>
	</section>