<div class="wrapper">
	<form class="form-signin" action="/" method="post">
		<h2 class="form-signin-heading"> Please Login</h2>
		<input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
		<br/>
		<input type="password" class="form-control" name = "password" placeholder="Password" required="" />
		<br/>
		<p class="text-danger text-center"><%= msg %></p>
		<p class="text-success text-center"><%= msgsuccess %></p>
		<button class="btn btn-lg btn-primary btn-block" type="submit"> Login </button>
		<br/>
		New User <a href="#" data-target="#signupModal" data-toggle="modal"> Register</a> Here!
	</form>
</div>
<div class="modal fade" id="signupModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Registration</h3>
			</div>
			<form action="/signup" method="post">
			<div class="modal-body">
				<div class="form-group">
					<label>Full Name</label>
					<input type="text" name="full_name" class="form-control" placeholder="Full Name">
				</div>
				<div class="form-group">
					<label>Username</label>
					<input type="text" name="username" class="form-control" placeholder="Username">
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" name="password" class="form-control" placeholder="Password">
				</div>
				<div class="form-group">
					<label>Re-Password</label>
					<input type="password" class="form-control" placeholder="Re-Password">
				</div>
				<input type="button" class="btn btn-danger" value="Close" data-dismiss="modal">
				<input type="submit" class="btn btn-primary" value="Submit">
			</div>
			</form>
		</div>
	</div>
</div>
